<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>


    <application
        android:usesCleartextTraffic="true"
        tools:targetApi="28"
        tools:ignore="GoogleAppIndexingWarning">

        <service
        android:name="app.notifee.core.ForegroundService"
        android:exported="false"
        android:foregroundServiceType="specialUse"
        tools:replace="android:foregroundServiceType"
        >
        </service>
    </application>
</manifest>
